button {
    font-family: 'Permanent Marker', cursive;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0095ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px;
  }
  
  button:hover {
    background-color: #0067b0;
  }
  
  button:active {
    background-color: #0067b0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}